<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Kalinga, Arial, Helvetica, sans-serif; font-size:16px;">
  <tr>
    <td width="16%" align="right">&nbsp;</td>
    <td width="4%">&nbsp;</td>
    <td width="74%" align="left">&nbsp;</td>
    </tr>

    <tr>
    <td align="right"><%= f.label(:name) %></td>
    <td>&nbsp;</td>
    <td><%= f.text_field(:name, :class => 'innerpages-text-input') %></td>
    </tr>
   <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td align="right"><%= f.label(:emailid) %></td>
    <td>&nbsp;</td>
    <td><%= f.text_field(:name, :class => 'innerpages-text-input') %></td>
    </tr>
    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>
  <tr>
    <td align="right"><%= f.label(:website) %></td>
    <td>&nbsp;</td>
    <td><%= f.text_field(:name, :class => 'innerpages-text-input') %></td>
    </tr>
    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td align="right"><%= f.label(:visible) %></td>
    <td>&nbsp;</td>
    <td><%= f.check_box(:visible, :class => 'regular-checkbox') %></td>
    </tr>
    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td align="right"><%= f.label(:comment) %></td>
    <td>&nbsp;</td>
    <td><%= f.text_area(:comment, :cols => 50, :rows => 30, :class => 'ckeditor innerpages-text-area') %></td>
    </tr>

    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>
</table>
