<%= error_messages_for(@comment_news) %>

    <p class="comment-name-label">
	<em><%= f.label(:name) %><span style="color:#dd2a1b;">*</span>:</em>
    </p>
   
	<%= f.text_field(:name, :required => true, :class => "comment-name-box") %>
   
<div style="clear:both;"></div>
    <p class="comment-name-label">
	<em><%= f.label(:emailid, "Email") %><span style="color:#dd2a1b;">*</span>:</em>
    </p>
   
	<%= f.email_field(:emailid, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', :class => "comment-name-box") %>
  
<div style="clear:both;"></div>
    <p class="comment-name-label">
	<em><%= f.label(:website) %></em>
    </p>
  
	<%= f.text_field(:website, :class => "comment-name-box") %>
    
<div style="clear:both;"></div>
    <p class="comment-name-label">
	<em><%= f.label(:comment) %><span style="color:#dd2a1b;">*</span>:</em>
    </p>
   
	<%= f.text_area(:comment, :cols => 70, :rows => 8,:required => true , :class => "comment-text-box") %>


