
<div style="width:100%; height:auto; position:relative; background:#ccc;">

<%= link_to("Back to List", {:action => 'show', :page_id => @comment.page.id}, :class => 'back-to-menu') %>

<%= link_to("Logout", {:controller => 'access', :action => 'logout'}, :class => 'logout')%>

<div class="top-linebar">Update Comment</div>

<div style="clear:both;"></div>
</div>


<div class="innerpage-form-background">
  <%= form_for(@comment, :url => {:action => 'update', :id => @comment.id}) do |f| %>
  
    <%= render(:partial => 'editform', :locals => {:f => f}) %>
    
    <div class="form-buttons">
    <%= submit_tag "Update Comment", :class => 'innerpage-form-button' %>
    </div>
    
  <% end %>

</div>
