<div style='width:100%; height:auto; position:relative; background:#ccc;'>

<%= link_to("Back to List", {:action => 'index'}, :class => 'back-to-menu') %>

<%= link_to("Logout", {:controller => 'access', :action => 'logout'}, :class => 'logout')%>

<div class="top-linebar">New author</div>

<div style="clear:both;"></div>
</div>


<div class="innerpage-form-background">
<%= form_for(@author) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<center>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Kalinga, Arial, Helvetica, sans-serif; font-size:16px;">
    <tr>
    <td width="30%" align="right">&nbsp;</td>
    <td width="4%">&nbsp;</td>
    <td width="66%" align="left">&nbsp;</td>
    </tr>
    <tr>
    <td align="right"><%= f.label(:author_name) %></td>
    <td>&nbsp;</td>
    <td align="left"><%= f.text_field(:author_name, :class => 'innerpages-text-input', :required => true) %></td>
    </tr>
    
 
</table>
<br/><br/>
  <div class="form-buttons">
    <%= f.submit({ :class => 'innerpage-form-button'}) %>
  </div>
<% end %>
</div>
