<p id="notice"><%= notice %></p>
<div style='width:100%; height:auto; position:relative; background:#ccc;'>

<%= link_to("Back to List", {:action => 'index'}, :class => 'back-to-menu') %>
<%= link_to("Logout", {:controller => 'access', :action => 'logout'}, :class => 'logout')%>
<div class="top-linebar">Show Subject keyword</div>

<div style="clear:both;"></div>
</div>

<div class="innerpage-form-background">
   <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Kalinga, Arial, Helvetica, sans-serif; font-size:16px;">
    <tr>
    <td width="20%" align="right">keyword</td>
    <td width="2%">&nbsp;</td>
    <td width="78%" align="left" class="result-text"><%= @keyword.keyword %> </td>
    </tr>
    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td align="right">meta ID</td>
    <td>&nbsp;</td>
    <td align="left" class="result-text"><%= @keyword.meta_id %> </td>
    </tr>
    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td align="right">meta type</td>
    <td>&nbsp;</td>
    <td align="left" class="result-text"><%= @keyword.meta_type %> </td>
    </tr>
    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td align="right">Created at</td>
    <td>&nbsp;</td>
    <td align="left" class="result-text"><%= @keyword.created_at %> </td>
    </tr>
    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td align="right">Updated at</td>
    <td>&nbsp;</td>
    <td align="left" class="result-text"><%= @keyword.updated_at %> </td>
    </tr>
    <tr>
    <td height="7"></td>
    <td></td>
    <td><%= link_to('Edit', {:action => 'edit', :keyword => @keyword}, :class => 'action edit') %></td>
    </tr>
    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>
  </table>
</div>
