<% subjects ||= [] %>


<ul class="glossymenu">
<% subjects.each do |subject| %>
<% @meta_keywords += subject.name+", " %>
<% @meta_description += subject.name+", " %>

 	<% if(subject.position <= 3) %>
		
		<% if subject.name == "Quotations" %>
				<li>
				   <%= link_to(image_tag(subject.icon_image,:width=>"16", :height => "16", :border => 0, :style=> "float:left;")+subject.name, {:action => 'quotations', :id => subject.id})%>
     			</li>
		<% else %>
			<li>  			
			   <%= link_to(image_tag(subject.icon_image,:width=>"16", :height => "16", :border => 0, :style=> "float:left;" )+subject.name, {:action => 'show', :id => subject.id})%>
     			</li>
 		<% end %>	
  	<% end %>
  
 <% end %>
 </ul>

<ul class="glossymenu" style="margin-left:5px;">
<% subjects.each do |subject| %>

 	<% if(subject.position > 3 && subject.position<=6) %>
		
  			<li>
			 <%= link_to(image_tag(subject.icon_image,:width=>"16", :height => "16", :border => 0, :style=> "float:left;" )+subject.name, {:action => 'show', :id => subject.id})%>
     		</li>
 		
  	<% end %>

  	<% end %>
  	</ul>
  	
  			<ul class="glossymenu" style="margin-left:5px;">
<% subjects.each do |subject| %>

 	<% if(subject.position > 6 && subject.position<=8) %>
		
  			<li>
			<%= link_to(image_tag(subject.icon_image,:width=>"16", :height => "16", :border => 0, :style=> "float:left;" )+subject.name, {:action => 'show', :id => subject.id})%>
     		</li>
 		
  	<% end %>

  	<% end %>
</ul>

		<ul class="glossymenu" style="margin-left:5px;">
<% subjects.each do |subject| %>

 	<% if(subject.position > 8 && subject.position<=10) %>

  			<li>
			<%= link_to(image_tag(subject.icon_image,:width=>"16", :height => "16", :border => 0, :style=> "float:left;" )+subject.name, {:action => 'show', :id => subject.id})%>
     		</li>
 		
  	<% end %>

<% end %>
</ul>
