<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Simple CMS | <%= @page_title || 'User Area' %></title>
    
 <%= stylesheet_link_tag "/assets/login/demo.css" %>
 <%= stylesheet_link_tag "/assets/login/style3.css" %>
 <%= stylesheet_link_tag "/assets/login/style4.css" %>
 <%= stylesheet_link_tag "/assets/login/animate-custom.css" %>
 
  <%= csrf_meta_tags %>
  </head>
  <body style="background:url(/assets/aatman-bg.jpg) right top no-repeat fixed;">
    <div id="main">
      <% if !flash[:notice].blank? %>
	<div class="form-wrapper" style="padding:30px; margin:0 auto; margin-top:10px; font-family:verdana; font-size:12px;">
      <div class="notice">
        <%= flash[:notice] %>
      </div>
	</div>
	<div id="content">
        <%= yield %>
      </div>
     <% else %>
      <div id="content">
        <%= yield %>
      </div>
 <% end %>
    </div>
  </body>
</html>

